body {
  background: #fff;
}

main {
  margin: 2rem auto;
  width: fit-content;
  border-radius: 1rem;
  overflow: hidden;
}

.button-wrapper {
  margin: 2rem auto;
  width: fit-content;
}

button {
  color: #666;
  font-weight: bold;
  padding: 1rem;
  border: 3px solid #666;
  border-radius: 0.3rem;
  background-color: #ddd;
  cursor: pointer;
}
